--布局 start--*/

/*header*/
.header-container{
	background-color: #fff;
	border-bottom: 1px solid #dadada;
}
.header-logo-container,
.header-btn-container,
.header-nav-container{
	height: 64px;
}
.header-btn-container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

/*--布局 end--*/





/*--组件 start--*/

/*btn-toggle*/
.btn-toggle{
	padding: 10px;
	background-color: transparent;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.btn-toggle:hover{
	background-color: #f9f9f9;
}
.btn-toggle-bar{
	display: block;
	width: 24px;
	height: 4px;
	background-color: #363636;
	border-radius: 2px;
}
/*必须是兄弟元素 且前面有一个兄弟元素， 固除了第一个都会增加margin-top*/
.btn-toggle-bar + .btn-toggle-bar{
	margin-top: 4px;
}
.btn-toggle:hover .btn-toggle-bar{
	background-color: #1428a0;
}

/*--组件 end--*/






/*--内容 start--*/

/*header*/
.header-logo{

}

/*--内容 end--