/*公共样式*/
    .container {
        width: 1200px;
        margin: 0 auto;
    }

    a.link {
        color: #4d555d;
    }

    a.link:hover {
        color: #f01414 !important;
    }

    /*隐藏文字*/
    .text-hidden{
        text-indent: -9999px;
        overflow: hidden;    
    }

    /*文字过长省略*/
    .text-ellipsis{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

/*公共组件 下拉菜单*/
/*dropdown*/
    .dropdown {
        position: relative;
    }

    .dropdown-toggle {
        display: relative;
        z-index: 2;
    }

    .dropdown-arrow {
        display: inline-block;
        background-repeat: no-repeat;
        vertical-align: middle;
    }

    .dropdown-layer {
        overflow: hidden;
        display: none;
        position: absolute;
        z-index: 2;
    }

    .dropdown-left {
        left: 0;
        right: auto;
    }

    .dropdown-right {
        right: 0;
        left: auto;
    }

/*menu dropdown*/
    .menu .dropdown-toggle {
        display: block;
        height: 100%;
        padding: 0 16px 0 12px;
        border-left: 1px solid #f3f5f7;
        border-right: 1px solid #f3f5f7;
    }

    .menu .dropdown-arrow {
        width: 0;
        height: 0;
        border: 4px solid #535b62;
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom: none;
        margin-left: 8px;
        transform: rotate(0deg);
        transition: all 0.5s;
    }

    .menu .dropdown-layer {
        top: 100%;
        background-color: #fff;
        border: 1px solid #cdd0d4;
        border-top: 0;
    }

    .menu-item {
        display: block;
        height: 30px;
        line-height: 30px;
        padding: 0 9px;
        color: #4d555d;
        white-space: nowrap;
    }
/*下拉菜单 颜色修改*/
    .menu-item:hover {
        background-color: #f3f5f7;
    }
/*下拉菜单 菜单显示颜色改变*/
    .menu-active .dropdown-toggle {
        background-color: #fff;
        border-color: #cdd0d4;
    }
/*下拉菜单选中箭头改变*/
    .menu-active .dropdown-arrow {
        transform: rotate(180deg);
        transition: all 0.5s;
    }

        .dropdown-loading{
            width: 32px;
            height: 32px;
            background: url(../img/loading.png) no-repeat;
            margin: 20px;
            -webkit-animation-name: circle_inner;
                        animation-name: circle_inner;
                       -webkit-animation-duration:2s;
                               animation-duration:2s;
            -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
                    -webkit-animation-play-state:running;
                            animation-play-state:running;
        }


/*visibility模块*/
    .transition {
        -o-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }

    .fadeOut {
        visibility: hidden;
        opacity: 0 !important;
    }

    .slideUpDownCollapse {
        height: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .slideLeftRightCollapse {
        width: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }


/*search*/
.search{
    position: relative;
    border: 1px solid #cfd2d5;
}
.search-inputbox{
    width: 585px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    background-color: #fff;
    border: none;
    outline: none;
}
.search-btn{
    width: 73px;
    height: 40px;
    line-height: 40px;
    background-color: #07111b;
    font-size: 14px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border: none;
}
.search-layer{
    position: absolute;
    top: 100%;
    left: -1px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #cfd2d5;
}
.search-layer-item{
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    cursor: pointer;
}
.search-layer-item:hover{
    background-color: #f3f5f7;
}

/*cart*/

/*通过自身hover控制兄弟元素（+）， 子元素使用（>）*/
/*.cart .cart-container:hover + .cart-layer{
    display: block;
}*/
.cart .cart-container {
    width: 158px;
    height: 42px;
    background-color: red;
    font-size: 14px;
    color: #fff;
    z-index: 2;
}

.cart .cart-layer {
    margin-left: -200px;
    display: none;
    overflow: hidden;
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: -2px 0 2px #ebebeb,0 -2px 2px transparent,2px 0 2px #ebebeb,0 2px 2px #ebebeb;
    z-index: 10;
}

.cart .cart-loading{
    margin: 30px;
    padding: 10px;
    background: url(../img/loading.gif) center no-repeat;
}

.cart .cart-empty{
    width: 300px;
    height: 100px;
}

.cart .cart-empty-icon{
    width: 64px;
    height: 64px;
    margin-top: 18px;
    margin-left: 46px;
    background-size: 30px 30px;
    background: url(../img/cart.png) center no-repeat;
}

.cart .cart-empty-text{
    line-height: 20px;
    margin-left: 10px;
    margin-top: 30px;
    font-size: 14px;
    color: #93999f;
}


/*category*/
    .category{
        position: relative;
        width: 208px;
        margin-top: -62px;
        font-size: 14px;
    }
    .category .dropdown{
        position: static;
    }
    .category-title{
        display: block;
        height: 54px;
        line-height: 54px;
        padding: 0 20px;
        background-color: #c81414;
        color: #fff;
    }
    .category-title .icon{
        margin-right: 10px;
        font-size: 16px;
    }
    .category-list{
        height: 512px;
        background-color: #f01414;
    }
    .category .dropdown-toggle{
        height: 36px;
        line-height: 36px;
        padding-left: 16px;
        color: #fff;
    }
    .category .dropdown-link{
        color: #fff;
    }
    .category .dropdown-arrow{
        position: absolute;
        right: 12px;
        font-weight: bold;
    }
    .category-active .dropdown-toggle{
        background-color: #fff;
    }
    .category-active .dropdown-toggle,
    .category-active .dropdown-link{
        color: #f01414;
    }
    .category .dropdown-layer{
        display: block;
        min-height: 512px;
        top: 54px;
        left: 100%;
        width: 744px;
        padding: 8px 0 31px 0;
        background-color: yellow;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
    }