/*头部导航栏*/
.header{
	position: fixed;
	width: 100%;
	height: 80px;
	z-index: 3;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%);
    color: white;
}

.header>.header-logo{
	width: 150px;
	height: 80px;
	line-height: 80px;
	text-indent: 50px;
	background: url(../img/logo.png) no-repeat left center;
	background-size: 40px 40px;
	margin-left: 10px;
}
.header>.header-nav{
	position: absolute;
	right: 0;
	top: 0;
	height: 40px;
	line-height: 40px;
	text-align: center;
	overflow: hidden;
	margin-top: 20px;
	overflow: hidden;
}
.header>.header-nav>.header-nav-item{
	position: relative;
	float: left;
	padding-right: 40px;
	cursor: pointer;
}

.header>.header-nav>.header-nav-tip{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 60px;
	height: 3px;
	background-color: red;
	transition: all .5s;
}

.header>.header-nav>.header-nav-button{
	float: left;
	width: 90px;
	margin-right: 40px;
	background: red;
	border-radius: 3px;
	cursor: pointer;
}

.menu{
	position: fixed;
	width: 30px;
	height: 165px;
	right: 15px;
	bottom: 100px;
	background-color: #fff;
	box-shadow: 4px 4px 10px #000;
	border-radius: 3px;
	text-align: center;
}
.menu>.menu-item{
	color: #000;
	margin-top: 10px;
	cursor: pointer;
}
.menu>.menu-item-active{
	color: red;
}

.screen{
	height: 640px;
}
.screen>.screen-warp{
	position: relative;
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}

.screen-1{
	background: url(../img/sc1.jpg) no-repeat center;
	background-size: cover;
}
.screen-1>.screen-warp>.screen-1-heading{
	font-weight: bold;
	width: 320px;
	padding-top: 240px;
	font-size: 40px;
	margin: 0 auto;
}
.screen-1>.screen-warp>.screen-1-subheading{
	margin: 0 auto;
	margin-top: 20px;
	width: 210px;
	font-size: 16px;
}

.screen-2{
	background: url(../img/sc2.png) no-repeat center bottom;
	background-color: #f3f5f7;
}
.screen-2>.screen-warp>.screen-2-heading{
	position: relative;
	font-weight: bold;
	width: 440px;
	color: #07111b;
	padding-top: 85px;
	padding-bottom: 35px;
	font-size: 40px;
	margin: 0 auto;
}
.screen-2>.screen-warp>.screen-2-heading::after{
	position: absolute;
	content: "";
	width: 50px;
	height: 3px;
	background: red;
	bottom: 0;
	left: 195px;
}

.screen-2>.screen-warp>.screen-2-subheading{
	width: 440px;
	color: #07111b;
	padding-top: 20px;
	font-size: 16px;
	margin: 0 auto;
	text-align: center;
}
.screen-2>.screen-warp>.screen-2-person{
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 275px;
	height: 380px;
	margin-left: -138px;
	background: url(../img/sc2-1.png) no-repeat center;
	background-size: 275px 380px;
	z-index: 2;
}
.screen-2>.screen-warp>.screen-2-rocet{
	position: absolute;
	bottom: 100px;
	left: 50%;
	width: 266px;
	height: 205px;
	margin-left: -30px;
	background: url(../img/sc2-2.png) no-repeat center;
	background-size: 266px 205px;
	z-index: 1;
}

.screen-3{
	background-color: #2b333b;
}
.screen-3>.screen-warp>.screen-3-icon{
	position: absolute;
	left: 10px;
	top: 100px;
	width: 398px;
	height: 440px;
	background: url(../img/sc3.png) no-repeat center;
	background-size: cover;
}
.screen-3>.screen-warp>.screen-3-content{
	position: absolute;
	right: 10px;
	top: 230px;
}
.screen-3>.screen-warp>.screen-3-content>.screen-3-content-heading{
	position: relative;
	font-size: 40px;
	padding-bottom: 30px;
}
.screen-3>.screen-warp>.screen-3-content>.screen-3-content-heading::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	background: red;
	width: 50px;
	height: 3px;
}
.screen-3>.screen-warp>.screen-3-content>.screen-3-content-subheading{
	margin-top: 30px;
}
.screen-3>.screen-warp>.screen-3-content>.screen-3-content-types{
	margin-top: 130px;
	transform: translate(0,100%);
}
.screen-3>.screen-warp>.screen-3-content>.screen-3-content-types>.screen-3-content-types-item{
	width: 67px;
	height: 67px;
	line-height: 67px;
	text-align: center;
	float: left;
	border: solid 4px;
	border-radius: 50%;
	margin-right: 35px;
	transition: all .5s;
	cursor: pointer;
}
.screen-3>.screen-warp>.screen-3-content>.screen-3-content-types>.screen-3-content-types-item:nth-child(1){
	color: #2294FF;
	border-color: #1F5975;
}
.screen-3>.screen-warp>.screen-3-content>.screen-3-content-types>.screen-3-content-types-item:nth-child(1):hover{
	box-shadow: 0px 0px 10px #2294FF;
}
.screen-3>.screen-warp>.screen-3-content>.screen-3-content-types>.screen-3-content-types-item:nth-child(2){
	color: #4F7DFD;
	border-color: #424D76;
}
.screen-3>.screen-warp>.screen-3-content>.screen-3-content-types>.screen-3-content-types-item:nth-child(2):hover{
	box-shadow: 0px 0px 10px #4F7DFD;
}
.screen-3>.screen-warp>.screen-3-content>.screen-3-content-types>.screen-3-content-types-item:nth-child(3){
	color: #E55A5B;
	border-color: #6B4146;
}
.screen-3>.screen-warp>.screen-3-content>.screen-3-content-types>.screen-3-content-types-item:nth-child(3):hover{
	box-shadow: 0px 0px 10px #E55A5B;
}
.screen-3>.screen-warp>.screen-3-content>.screen-3-content-types>.screen-3-content-types-item:nth-child(4){
	color: #2294FF;
	border-color: #1F5975;
}
.screen-3>.screen-warp>.screen-3-content>.screen-3-content-types>.screen-3-content-types-item:nth-child(4):hover{
	box-shadow: 0px 0px 10px #2294FF;
}
.screen-3>.screen-warp>.screen-3-content>.screen-3-content-types>.screen-3-content-types-item:nth-child(5){
	color: #88A941;
	border-color: #3E4E40;
}
.screen-3>.screen-warp>.screen-3-content>.screen-3-content-types>.screen-3-content-types-item:nth-child(5):hover{
	box-shadow: 0px 0px 10px #88A941;
}

.screen-4{
	background-color: #F3F5F7;
}
.screen-4>.screen-warp>.screen-4-heading{
	position: relative;
	width: 450px;
	height: 45px;
	font-size: 40px;
	color: #07111B;
	padding-top: 100px;
	padding-bottom: 30px;
	margin: 0 auto;
}
.screen-4>.screen-warp>.screen-4-heading::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 195px;
	width: 50px;
	height: 3px;
	background: red;
}
.screen-4>.screen-warp>.screen-4-subheading{
	width: 240px;
	height: 20px;
	color: #07111B;
	margin: 30px auto;
}
.screen-4>.screen-warp>.screen-4-commands{
	width: 1200px;
	height: 130px;
	margin-top:90px;
	overflow: hidden;
}
.screen-4>.screen-warp>.screen-4-commands>.screen-4-commands-item{
	width: 300px;
	height: 130px;
	float: left;
	text-align: center;
	padding-top: 100px;
	color: #07121B;
}
.screen-4>.screen-warp>.screen-4-commands>.screen-4-commands-item:nth-child(1){
	background: url(../img/sc4-1.png) no-repeat center top;
}
.screen-4>.screen-warp>.screen-4-commands>.screen-4-commands-item:nth-child(2){
	background: url(../img/sc4-2.png) no-repeat center top;
}
.screen-4>.screen-warp>.screen-4-commands>.screen-4-commands-item:nth-child(3){
	background: url(../img/sc4-3.png) no-repeat center top;
}
.screen-4>.screen-warp>.screen-4-commands>.screen-4-commands-item:nth-child(4){
	background: url(../img/sc4-4.png) no-repeat center top;
}

.screen-5{
	background: url(../img/sc5.jpg) no-repeat center;
	background-size: cover;
}

.screen-5>.screen-warp>.screen-5-icon{
	width: 200px;
	height: 200px;
	background: url(../img/sc5-1.png) no-repeat center bottom;
	margin: 0 auto;
	padding-top: 100px;
}
.screen-5>.screen-warp>.screen-5-heading{
	position: relative;
	width: 400px;
	height: 40px;
	font-size: 40px;
	margin: 60px auto 0;
	padding-bottom: 40px;
}
.screen-5>.screen-warp>.screen-5-heading::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 170px;
	width: 50px;
	height: 3px;
	background: white;
}
.screen-5>.screen-warp>.screen-5-subheading{
	width: 710px;
	height: 20px;
	margin: 30px auto 0;
}

.screen-go{
	position: relative;
	height: 200px;
	background-color: #FFF;
}
.screen-go>.screen-go-button{
	position: absolute;
	top: 70px;
	left: 50%;
	margin-left: -120px;
	width: 238px;
	height: 58px;
	line-height: 58px;
	color: #2B3034;
	font-size: 20px;
	border: 1px solid;
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
}
.screen-go>.screen-go-button:hover{
	box-shadow: 0 0 3px #2B3034;
	color: #CB3547;
}

.footer{
	position: relative;
	height: 60px;
	padding-top: 30px;
	background-color: #000;
}
.footer>.footer-list{
	width: 600px;
	height: 30px;
	margin: 0 auto;
	overflow: hidden;
}
.footer>.footer-list>.footer-list-item{
	width: 75px;
	height: 30px;
	float: left;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}
.footer>.footer-list>.footer-list-item:hover{
	color: red;
}
.footer>.footer-register-text{
	width: 600px;
	height: 30px;
	margin: 0 auto;
	text-align: center;
	font-size: 16px;
	color: #787D82;
}

